---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Automate",
    description:
      "Extract data from various communication channels including PLC-less offline metrology equipments",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Harmonize",
    description:
      "Collect and organize siloes of data and offline tools to track each cell",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Optimize",
    description:
      "Use our built-in AI models to find optimal parameters for your cell manufacturing process with zero coding knowledge",
    icon: "bx:bxs-data",
  },
  {
    title: "Detect",
    description:
      "Identify anomalies in processes and quality control to alert operators and detect defects in realtime",
    icon: "bx:bxs-bot",
  },
  {
    title: "Analyze",
    description:
      "Spot factors causing failure using integrated statistical analysis without the need for data pre-processing",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Predict",
    description:
      "Predict defects and calculate actions using predictive AI customized to your process design",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    CellSync introduces Industry 4.0 practices to cell development.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    The integrated data is standardized and pre-processed to enable application of statistical analysis tools like JMP, Minitab and machine learning. We sync your offline and online data to: 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-10 p-8 md:px-20 md:py-20 mx-auto max-w-8xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-black text-2xl">Save resources and accelerate your scale-up with CellSync Insight</h2>
  <div class="flex md:grid-cols-3 gap-8 md:gap-10 items-center justify-center mt-10 flex-wrap">
    <div class="font-semibold text-lg text-slate-500 mt-2 leading-relaxed"><b>50%</b> faster process optimization</div>
    <div class="font-semibold text-lg text-slate-500 mt-2 leading-relaxed"><b><a href="https://www.bcg.com/publications/2018/future-battery-production-electric-vehicles">43%</b></a> reduction in production cost</div>
    <div class="font-semibold text-lg text-slate-500 mt-2 leading-relaxed"><b>80%</b> reduction in data munging</div>
  </div>
</div>