---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Visualize",
    description:
      "Enable realtime visualization of process parameters and test results.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Analyze",
    description:
      "Accelerate root cause analysis and reduce tests.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Understand",
    description:
      "Deepen understanding of process-property relationships.",
    icon: "bx:bxs-data",
  },
  {
    title: "Predict",
    description:
      "Develop models to predict output based on various inputs to optimize processes.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Identify",
    description:
      "Identify false data from faulty sensors.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Enable",
    description:
      "More data enables engineers to take better decisions to reduce waste.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    CellSync introduces Industry 4.0 practices into testing equipments used in cell manufacturing.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    The integrated data is standardized and pre-processed to enable application of statistical analysis tools like JMP, Minitab and machine learning. We sync your offline and online data to: 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
